#main{
    background-color: gainsboro;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
#title{
    font-size: 30px;
    padding-bottom: 0%;
}
#img-div{
    display: block;
    align-content: center;
}
#image{
    max-width: 100%;
    max-height: 100%;
    box-shadow: 10px 10px 8px 10px #888888;
}
#img-caption{
    font-size: 16px;
}
#tribute-info{
    margin: auto;
    width: 50vw;
    text-align: left;
    line-height: 30px;    
}